body {
    background-color: black;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vw;
    color: white;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: navy(255, 252, 252);
}

h3 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    color: white(0, 0, 0);
}
h4 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
  
}
h5 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    color: white(0, 0, 0);
}
b{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: black;
    }
.jumbotron1 {
    background-image: url(../images/backgrounds/jumbotron\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.row1 {  margin-top: 0%;  margin-left: 20vh;}
.row2 {  margin-top: 10%;  margin-left: 20vh;}
.row3 {  margin-top: 10%;  margin-left: 20vh;}
.row4 {  margin-top: 10%;  margin-left:20vh;}